/* Admin Dashboard Page */
body {
	background-color: #e8e8e8;
}

.headerNav {
	height: 73px;
}

.headerNavbarText {
	margin-top: 3%;
}

.navHeader a:hover{
	color: red;
}

.navIcon {
	margin-left: 3%;
	margin-right: 10%;
}

.navIcon .active {

}

#navId:hover {
	background-color: #c4bfbf;
}

.containerCustom {
	padding-left: 3.3%
}

.firstPageheader {
	color: #f9f9f9;
	background-color: #337ab7;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 2%;
	border-radius: 3px;
	margin-top: 0%;
}

.choicesContainer {
	max-height: 250px;
	overflow: scroll;
}

.tableSecond {
	max-height: 250px;
	overflow: scroll;
}

.pageContainer {
	margin-top: -2%;
}

.calculator {
	width: 97%;
	height: 563px;
	overflow: scroll;
}