.margin-left-sm {
	margin-left: 2%;
}

.margin-left-xs {
	margin-left: 1%;
}
.margin-left-md {
	margin-left: 3%;
}

.margin-right-md {
	margin-right: 3%;
}

.margin-right-sm {
	margin-right: 2%;
}

.margin-right-xs {
	margin-right: 1%;
}

.margin-top-md {
	margin-top: 3%;
}

.margin-top-sm {
	margin-top: 2%;
}

.margin-top-xs {
	margin-top: 1%;
}

.margin-bottom-md {
	margin-bottom: 3%;
}

.margin-bottom-sm {
	margin-bottom: 2%;
}

.margin-bottom-xs {
	margin-bottom: 1%;
}

.panel-green {
	background-color: #2ecc71;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}