.customSideBar {
    border: 1px solid #bebebe;
    height: 500px;
    background-color: #f9f9f9;
}

.userImage {
    padding-top: 9%;
}

.calendarContainer {
    margin-top: 2%;

}

.projectSidebarContainer {

}

.projectName  {
	background-color: #2b6393;
	padding-top: 1px;
	padding-bottom: 2px;
	border-radius: 3px;
	color: #f9f9f9;
}

.fileList {
	margin-top: 4%;
	margin-left: 9%;
}

.fileList a {
	color: #362f2d;
}