/* WElcome Page CSS */
.loginContainer {
	margin-top: -10%;
	width: 80%;
	margin-left: 9%;

}

.logoContainer {
	width: 100%;
	height: auto;

}

.textContainer {
	height: auto;
	background-color: #337ab7;
	color: #ffffff;
	font-size: 23pt;
	padding-top: 4%;
	padding-bottom: 4%;
}

.inputContainer {
	background-color: #ffffff;
	height: 380px;
	padding-left: 8%;
	padding-right: 8%;
}

.footerContainer {
	background-color: #337ab7;
	height: 30px;
}

.loginIcon {
	padding-top: 3%;
	background-color: #337ab7;
	padding-bottom: 3%;
}

.registerIcon {
	padding-top: 3%;
	background-color: #662c92;
	padding-bottom: 3%;
}

.forgotIcon {
	padding-top: 3%;
	background-color: #f05a28;
	padding-bottom: 3%;
}

.myChkbx input[type=checkbox] {width:18px; height:18px;}