
<?php $planUrl = preg_replace("/[\s_]/", "-", $projectData->name); ?>
<div class="" style="" id="menuLeft">
  <ul class="list-group">
    <li class="list-group-item active">{{ $projectData->name }}
      
      <i class="fa fa-angle-double-left pull-right" id="toggleLeft"
      style="font-size: 19pt"></i>
      
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/cover_page') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/cover_page">
      Cover Page
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/cover_page') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>

    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/table_of_contents') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/table_of_contents">
      Table of Contents
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/table_of_contents') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-excel-o"></span>
      <a href="/dashboard/{{ $planUrl }}/net_estate_calculator">
      Net Estate Calculator
      </a>
      </span>
    </li>
    <li class="list-group-item">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-excel-o"></span>
      <a href="/dashboard/{{ $planUrl }}/accounts_and_contracts">
      Accounts & Contacts
      </a>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/single_person_living_trust') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/single_person_living_trust">
      Single Person Living Trust
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/single_person_living_trust') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/pour_over_will') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/pour_over_will">
      Pour Over Will
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/pour_over_will') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/quitclaim_deed') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/quitclaim_deed">
      Quitclaim Deed
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/quitclaim_deed') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/transfer_of_assets') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/transfer_of_assets">
      Transfer of Assets
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/transfer_of_assets') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/successor_trustee') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/successor_trustee">
      Successor Trustee
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/successor_trustee') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/durable_power_of_attorney') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/durable_power_of_attorney">
      Durable Power of Attorney
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/durable_power_of_attorney') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/amendment_to_declaration_of_trust') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/amendment_to_declaration_of_trust">
      Amendment to Declaration of Trust
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/amendment_to_declaration_of_trust') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/advance_health_care_directive') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/advance_health_care_directive">
        Advance Health Care Directive
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/advance_health_care_directive') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/living_will') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/living_will">
        Living Will
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/living_will') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/hipaa_privacy_authorization') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/hipaa_privacy_authorization">
        HIPAA Privacy Authorization
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/hipaa_privacy_authorization') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/california_directive_to_physician') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/california_directive_to_physician">
        California Directive to Physician
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/california_directive_to_physician') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/after_death_checklist') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/after_death_checklist">
        After Death Checklist
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/after_death_checklist') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/revocation_of_declaration_of_trust') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/revocation_of_declaration_of_trust">
        Revocation of Declaration of Trust
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/revocation_of_declaration_of_trust') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/business_general_partnership_agreement') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/business_general_partnership_agreement">
        Business - General Partnership Agreement
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/business_general_partnership_agreement') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
    <li class="list-group-item {{ Request::is('dashboard/' . $planUrl . '/business_buy_sell_agreement') ? 'list-group-item-info' : '' }}">
      <span style="margin-top: 3px;">
      <input type="checkbox" class="margin-right-xs">&nbsp
      <span class="fa fa-file-text-o"></span>
      <a href="/dashboard/{{ $planUrl }}/business_buy_sell_agreement">
        Business Buy-Sell Agreement
      </a>
      <i class="{{ Request::is('dashboard/' . $planUrl . '/business_buy_sell_agreement') ? 'fa fa-angle-double-right pull-right' : '' }}"></i>
      </span>
    </li>
  </ul>
</div>
<div class="tooggler" style="display: none;" id="tooggler">
  <button class="btn btn-md btn-primary">
    <i class="fa fa-angle-double-right"></i>
  </button>
</div>